.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#clock{
    background-color: rgb(167, 167, 3);
    height: 40px;
    width: 100px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}