#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     /* gap: 40px; */
     color: white;
     background-color: #4e4e4e;
   
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#guess{
 display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
gap: 20px;
}
h1{
    background-color: black;
    color: white;
/* width: 98vw; */
display: flex;
justify-content: center;
}
p{
    color: white;
}
.guessSubmit{
    background-color: #130b0b;
    color: white;
    border-radius: 4px;
    border: transparent;
    padding: 7px;
}
.guessField{
    border: 3px solid rgb(190, 190, 129);
}
.guesses{
background-color: #1b1b1b;
color: white;
}